@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --step-margin: 7.5em;
  --link-color: rgb(33, 150, 243);
  --secondary-color: rgb(166, 166, 166);
  --complete-color: rgb(100, 206, 92);
  --progress-height: .5rem;

  --content-width: 800px;
  --content-padding: 5em;
  --content-border-radius: 0.5em;
  --content-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

/* CSS RESET */
html { box-sizing: border-box; font-size: 16px; } *, *:before, *:after { box-sizing: inherit; } body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; } ol, ul { list-style: none; } img { max-width: 100%; height: auto; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background: #fafafa;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

iframe {
  border: 0;
  width: 100%;
}

a { color: var(--link-color) }
small { color: var(--secondary-color); }
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}
table th, table td {
  padding: 0.5em;
}
table thead th {
  text-align: left;
  font-weight: bold;
  background: #e3e3e3;
  vertical-align: bottom;
}
table thead th:first-child { border-top-left-radius: var(--content-border-radius); }
table thead th:last-child { border-top-right-radius: var(--content-border-radius); }
table tbody td {
  vertical-align: top;
  border: 1px solid #dee2e6;
}
table tbody td pre { margin: 0 !important; }

aside {
  position: sticky;
  left: 0;
  top: 0;
  color: var(--secondary-color);
  background: #000;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 2em;
  text-size-adjust: 100%; /* mobile? */
  width: 365px; /* desktop */
  height: 100vh;/* desktop */
}
aside a {
  color: inherit;
  text-decoration: none;
}
/* highlight current section */
/* aside .current { color: #fff; }  */
/* aside .current { font-weight: bold; }  */
aside a:hover { color: var(--link-color); }

aside .section:not(:first-child) { margin-top: 2em; }
aside .section:not(:last-child) { margin-bottom: 2em; }

/* fixes multiline sidebar links */
aside .section ul li a { display: flex; }
aside .section ul li a .num {
  display: inline-block;
  padding-right: 16px;
  text-align: right;
  width: 32px;
  margin-left: 1em;
}
aside .section ul li a .text { flex: 1; }

aside .section .num::before { /* additional "list-style" bullet */
  content: "";
  position: absolute;
  margin-left: 1em;
  top: 6px;
  left: 22px;
  border-radius: 100%;
  background-color: #fff;
  width: 5px;
  height: 5px;
}
aside .section a:hover .num::before { background-color: var(--link-color); }

/* section progress (bullet point strip) */
aside .section ul { position: relative; }
aside .section ul::before {
  content: "";
  position: absolute;
  top: -2em;
  left: -3px;
  background-color: rgb(127, 127, 127);
  width: 2px;
  height: calc(100% + 5em);
  z-index: -1;
}

aside .section:last-child:not(.current) ul::before { display: none; }
aside .section:last-child.current ul::before {
  height: calc(100% + 1em);
}

/* left completion bullet points */
aside .section ul li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -6px;
  border-radius: 100%;
  background-color: var(--link-color);
  width: 8px;
  height: 8px;
  transition: background-color 0.2s;
}

aside .section ul li.completed::before { background-color: var(--complete-color); }
aside .section ul li.completed a { color: var(--complete-color); }
aside .section ul li.completed .num::before { background-color: var(--complete-color); }

aside .section .info { display: flex; }
aside .section .info .thumbnail {
  border-radius: 0.5em;
  background-position: center;
  background-size: cover;
  width: 46px;
  height: 46px;
  transition: border 0.2s;
  /* centralize "completed" checkmark */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
/* index/overview item on the sidebar */
aside .section.is-overview-true {
  padding-bottom: 1.5em;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
}

/* complete section! */
aside .section.complete .info .thumbnail { border: 3px solid var(--complete-color) !important; }
aside .section.complete .info { color: var(--complete-color); }
aside .section:not(.complete) .info .icon { display: none; font-size: 18px; }

/* current section! */
body.is-overview-true aside .section.is-overview-true .info .thumbnail,/* on overview page */
aside .section.current .info .thumbnail { border: 3px solid var(--secondary-color); }/* on other pages */

aside .section .info .data {
  display: inline-block;
  padding: 0 0.7em;
  text-overflow: ellipsis;
  margin: auto 0;
}
aside .section .info .data small { display: block; }
aside .section .info .icon { display: inline-block; }

.back-to-top {
  position: fixed;
  z-index: 99999;
  right: 26px;
  bottom: 20px;
  text-decoration: none;

  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  opacity: 0;
  transition: opacity 0.2s;
}
body.in-content .back-to-top { opacity: 1; }

main {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0; /* no idea why this is working... it works, tho... */
  overflow: hidden;
}

/* titles */
h1, h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
h1 { margin-bottom: 24px; }
h2 { margin-bottom: 0.5em; }
h1:not(:first-child) { margin-top: 1em; }
h2:not(:first-child) { margin-top: 2em; }

/* improve me? */
h1 strong, h2 strong, h3 strong { color: #000; }

/* paragraph */
p { margin-bottom: 24px; }
p:last-child { margin-bottom: 0; }

/* lists */
ul {
  list-style: none;
  margin: 1.5em 1.5em 1.5em 2em;
}
ul li {
  position: relative;
  margin-bottom: 12px;
}

/* ordered list */
ol {
  list-style: decimal;
  margin: 1.5em 1.5em 1.5em 3em;
}
ol li {
  position: relative;
  margin-bottom: 12px;
}
ol li::marker { font-weight: bold; }

section ul li::before {
  content: "";
  position: absolute;
  top: 6px ;
  left: -1.2em;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 100%;
}

.centered-content {
  margin: 0 auto;
  max-width: 835px;
}

/* quotes */
.summary blockquote {
  background: rgb(51, 51, 51);
  border-left-color: rgb(127, 127, 127);
}

hr {
  border: 0;
  border-bottom: 1px solid transparent;
  margin-bottom: 24px;
}

.summary hr { border-bottom-color: hsla(0,0%,100%,.3); }
.step hr { border-bottom-color: #e0e0e0; }

blockquote {
  background: rgb(235, 235, 235);
  margin: 1.5em 0;
  padding: 1.2em 2em;
  border-left: 4px solid rgb(146, 206, 255);
}

/* summary / header */
header {
  background-size: cover;
  background-position: center;
  height: 100px;
  position: relative;
  background-color:rgb(51, 51, 51);
}
body.has-preview-true header {
  height: 300px;
}
header .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}
header img {
  width: 10vw;
}

section {
  position: relative;
  padding: 1.5em;
}
section p .icon {
  position: relative;
  top: 2px;
  font-size: 1.3em;
}

/* summary / header */

section.summary {
  background: #1a1a1a;
  color: var(--secondary-color);
  line-height: 1.6em;
  padding: calc(var(--step-margin) / 2) var(--step-margin);
}

body.has-preview-false section.summary  {
  padding-top: 4em;
}

section.summary h1 {
  font-size: 40px;
  line-height: 52px;
}
section.summary h1,
section.summary h2,
section.summary h3 {
  color: #fff;
  font-weight: 500;
}

section.summary a { text-decoration: none; }
section.summary a:hover { color: #6ec6ff; }

section.summary .summary-header { margin-top: -100px; }
section.summary .summary-header img {
  border-radius: 0.4em;
  width: 150px;
  margin-right: 0.3em;
}
section.summary .summary-header small {
  display: inline-block;
  position: relative;
  top: -12px;
  margin-right: 0.5em;
}
section.summary .summary-header small .icon {
  position: relative;
  top: 6px;
}

section.summary ul li::before {
  background-color: #fff;
}

/* first step box */
section.summary + section.step {
  margin-top: calc(var(--step-margin) * 0.7);
}

/* all step boxes */
section.step {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  /* margin-left: var(--step-margin);
  margin-right: var(--step-margin); */
  padding: var(--content-padding)
           var(--content-padding)
           2.5em
           var(--content-padding);
  border-radius: var(--content-border-radius);
  box-shadow: var(--content-box-shadow);
  font-size: 16px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  background-color: #fff;
}

/* step completion */
section.step .completion {
  font-size: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #fff;
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
section.step.complete .completion { background-color: #1fd348; }

/* images */
section.step img {
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
}

.button {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 0.8em;
  color: #fff;
  background-color: var(--link-color);
  border-radius: 4px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 6%), 0 2px 2px 0 rgb(0 0 0 / 1%), 0 1px 5px 0 rgb(0 0 0 / 6%);
  text-align: center;
  transition: background-color 0.1s;
}
.button:hover { background-color: #6ec6ff; }
.button:active { background-color: #0069c0; }
.button .icon {
  display: inline-block;
  margin-left: 0.2em;
}

input[type="checkbox"] { display: none; }
input[type="checkbox"] ~ div .button { margin-top: 4em; }
input[type="checkbox"]:checked ~ div .button {
  background: #fff;
  border: 2px solid var(--link-color);
  color: var(--link-color);
}
input[type="checkbox"]:checked ~ div .completion {  background-color: #1fd348; }

input[type="checkbox"]:checked ~ div .button .unchecked { display: none; }
input[type="checkbox"]:not(:checked) ~ div .button .checked { display: none; }

/* last step box */
section.step.final { margin-bottom: 5em; }
section.step.final p { margin-bottom: 0.2em; }
section.step.final h3 {
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 500;
  border-bottom: 1px solid rgb(224, 224, 224);
}
/* last step buttons */
section.step.final .button:last-child {
  /* margin-top: 0.5em; */
  background: #fff;
  color: var(--link-color);
  box-shadow: none;
  text-decoration: underline;
}
section.step.final .button:hover:last-child {
  text-decoration: none;
}

/* step titles */
section.step h1 {
  font-size: 48px;
  line-height: 64px;
  margin-top: 0; /* FIXME: this is necessary because ".completion" is occupying space (it shouldn't occupy space as it is position:absolute ¯\_(ツ)_/¯ */
}

section.step ul {
  margin-left: 3.5em;
}

section + .step-separator {
  height: 80px;
  width: 2px;
  display: block;
  margin: 0 auto;
  background: rgb(224, 224, 224);
}

/* reading progress/scroll */
/* progress bar container */
.progress-bar-container {
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--progress-height);
  background-color: rgb(166, 166, 166, 0.5);
  backdrop-filter: blur(2px);
}
body.in-content .progress-bar-container { opacity: 1; }
/* progress bar */
.progress-bar-container > .progress {
  height: var(--progress-height);
  background-color: var(--complete-color);
  width: 0%;
  height: 100%;
  float: left;
  transition: width 0.1s;
}

/* overview / index page style */
body.is-overview-true main > ul {
  margin: 0 auto;
  margin-top: 3em;
  max-width: var(--content-width);
}

body.is-overview-true main > ul li { margin-bottom: 2em; }
body.is-overview-true main > ul li:last-child { margin-bottom: 8em; }

body.is-overview-true main > ul a {
  display: flex;
  box-shadow: var(--content-box-shadow);
  border-radius: var(--content-border-radius);
  overflow: hidden;
  height: 220px;
  text-decoration: none;
  background: #fff;
  transition: box-shadow 0.2s;
}
body.is-overview-true main > ul a:hover {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}

body.is-overview-true main > ul .thumbnail {
  display: inherit;
  width: 40%;
  background-size: cover;
  background-color:rgb(51, 51, 51);
}
body.is-overview-true main > ul .data {
  width: 60%;
  padding: 20px 32px;
}
body.is-overview-true main > ul .data h2 {
  color: rgb(51, 51, 51);
  margin-bottom: 0.5em;
}
body.is-overview-true main > ul .data p {
  color: var(--secondary-color);
}
body.is-overview-true main > ul small:not(:last-child) { margin-right: 0.3em; }
body.is-overview-true main > ul .icon {
  position: relative;
  top: 4px;
}

/*
 * make iframes stand out
 */
/* iframe {
	margin: 1em 0 !important;
  position: relative;
  width: calc(100% + var(--content-padding) * 2);
  left: calc(var(--content-padding) * -1);
} */

/*
 * make code blocks stand out
 */
/* pre[class*="language-"], code[class*="language-"] { */
pre, code { font-size: 1.1em !important; }
pre {
  border-radius: 0.3em;
	margin: 1em 0 !important;
	padding: 1.5em;
}

/* make only main code blocks "stand out" */
.centered-content > pre {
  position: relative;
  width: 138%;
  left: -19%;
}

pre:not([class*="language-"]) {
  background: #e3e3e3;
}

/*
 * prismjs vsc-dark theme:
 * https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css
 */
pre[class*="language-"], code[class*="language-"] { color: #d4d4d4; font-size: 13px; text-shadow: none; font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace; direction: ltr; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; line-height: 1.5; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; } pre[class*="language-"]::selection, code[class*="language-"]::selection, pre[class*="language-"] *::selection, code[class*="language-"] *::selection { text-shadow: none; background: #264F78; } @media print { pre[class*="language-"], code[class*="language-"] { text-shadow: none; } } pre[class*="language-"] { padding: 1em; margin: .5em 0; overflow: auto; background: #1e1e1e; } :not(pre) > code[class*="language-"] { padding: .1em .3em; border-radius: .3em; color: #db4c69; background: #1e1e1e; } /********************************************************* * Tokens */ .namespace { opacity: .7; } .token.doctype .token.doctype-tag { color: #569CD6; } .token.doctype .token.name { color: #9cdcfe; } .token.comment, .token.prolog { color: #6a9955; } .token.punctuation, .language-html .language-css .token.punctuation, .language-html .language-javascript .token.punctuation { color: #d4d4d4; } .token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.inserted, .token.unit { color: #b5cea8; } .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.deleted { color: #ce9178; } .language-css .token.string.url { text-decoration: underline; } .token.operator, .token.entity { color: #d4d4d4; } .token.operator.arrow { color: #569CD6; } .token.atrule { color: #ce9178; } .token.atrule .token.rule { color: #c586c0; } .token.atrule .token.url { color: #9cdcfe; } .token.atrule .token.url .token.function { color: #dcdcaa; } .token.atrule .token.url .token.punctuation { color: #d4d4d4; } .token.keyword { color: #569CD6; } .token.keyword.module, .token.keyword.control-flow { color: #c586c0; } .token.function, .token.function .token.maybe-class-name { color: #dcdcaa; } .token.regex { color: #d16969; } .token.important { color: #569cd6; } .token.italic { font-style: italic; } .token.constant { color: #9cdcfe; } .token.class-name, .token.maybe-class-name { color: #4ec9b0; } .token.console { color: #9cdcfe; } .token.parameter { color: #9cdcfe; } .token.interpolation { color: #9cdcfe; } .token.punctuation.interpolation-punctuation { color: #569cd6; } .token.boolean { color: #569cd6; } .token.property, .token.variable, .token.imports .token.maybe-class-name, .token.exports .token.maybe-class-name { color: #9cdcfe; } .token.selector { color: #d7ba7d; } .token.escape { color: #d7ba7d; } .token.tag { color: #569cd6; } .token.tag .token.punctuation { color: #808080; } .token.cdata { color: #808080; } .token.attr-name { color: #9cdcfe; } .token.attr-value, .token.attr-value .token.punctuation { color: #ce9178; } .token.attr-value .token.punctuation.attr-equals { color: #d4d4d4; } .token.entity { color: #569cd6; } .token.namespace { color: #4ec9b0; } /********************************************************* * Language Specific */ pre[class*="language-javascript"], code[class*="language-javascript"], pre[class*="language-jsx"], code[class*="language-jsx"], pre[class*="language-typescript"], code[class*="language-typescript"], pre[class*="language-tsx"], code[class*="language-tsx"] { color: #9cdcfe; } pre[class*="language-css"], code[class*="language-css"] { color: #ce9178; } pre[class*="language-html"], code[class*="language-html"] { color: #d4d4d4; } .language-regex .token.anchor { color: #dcdcaa; } .language-html .token.punctuation { color: #808080; } /********************************************************* * Line highlighting */ pre[class*="language-"] > code[class*="language-"] { position: relative; z-index: 1; } .line-highlight.line-highlight { background: #f7ebc6; box-shadow: inset 5px 0 0 #f7d87c; z-index: 0; }
