@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --step-margin: 7.5em;
  --link-color: rgb(33, 150, 243);
  --secondary-color: rgb(166, 166, 166);
  --complete-color: rgb(100, 206, 92);
}

/* CSS RESET */
html { box-sizing: border-box; font-size: 16px; } *, *:before, *:after { box-sizing: inherit; } body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; } ol, ul { list-style: none; } img { max-width: 100%; height: auto; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background: #fafafa;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

a { color: var(--link-color) }
small { color: var(--secondary-color); }

aside {
  position: sticky;
  left: 0;
  top: 0;
  color: var(--secondary-color);
  background: #000;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 2em;
  text-size-adjust: 100%; /* mobile? */
  width: 365px; /* desktop */
  height: 100vh;/* desktop */
}
aside a {
  color: inherit;
  text-decoration: none;
}
aside .current { color: #fff; } /* highlight current section */
aside a:hover { color: var(--link-color); }

aside .section:not(:first-child) { margin-top: 2em; }
aside .section:not(:last-child) { margin-bottom: 2em; }
aside .section .num {
  display: inline-block;
  padding-right: 16px;
  text-align: right;
  width: 32px;
  margin-left: 1em;
}
aside .section .num::before { /* additional "list-style" bullet */
  content: "";
  position: absolute;
  margin-left: 1em;
  top: 6px;
  left: 22px;
  border-radius: 100%;
  background-color: #fff;
  width: 5px;
  height: 5px;
}
aside .section a:hover .num::before { background-color: var(--link-color); }

/* section progress (bullet point strip) */
aside .section ul { position: relative; }
aside .section ul::before {
  content: "";
  position: absolute;
  top: -2em;
  left: -3px;
  background-color: rgb(127, 127, 127);
  width: 2px;
  height: calc(100% + 5em);
  z-index: -1;
}

aside .section:last-child:not(.current) ul::before { display: none; }
aside .section:last-child.current ul::before {
  height: calc(100% + 1em);
}

/* left completion bullet points */
aside .section ul li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -6px;
  border-radius: 100%;
  background-color: var(--link-color);
  width: 8px;
  height: 8px;
}

aside .section .info { display: flex; }
aside .section .info .thumbnail {
  border-radius: 0.5em;
  display: inline-block;
  background-position: center;
  background-size: cover;
  width: 46px;
  height: 46px;
}
/* complete section! */
aside .section.complete .info .thumbnail { border: 3px solid var(--complete-color); }
aside .section .info .data {
  display: inline-block;
  padding: 0.5em 0.7em;
}
aside .section .info .data small {
  display: block;
}

main {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0; /* no idea why this is working... it works, tho... */
}

/* titles */
h1, h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
h1:not(:first-child), h2:not(:first-child) {
  margin-top: 1em;
}

/* paragraph */
p { margin-bottom: 24px; }
p:last-child { margin-bottom: 0; }

/* lists */
ul {
  list-style: none;
  margin: 1.5em 1.5em 1.5em 2em;
}
ul li {
  position: relative;
  margin-bottom: 12px;
}

section ul li::before {
  content: "";
  position: absolute;
  top: 6px ;
  left: -1.2em;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 100%;
}

/* quotes */
blockquote {
  background: rgb(235, 235, 235);
  margin: 2em;
  padding: 1em;
  border-left: 4px solid rgb(146, 206, 255);
}

/* summary / header */
section:first-child {
  background: #1a1a1a;
  color: var(--secondary-color);
  line-height: 1.6em;
  padding: calc(var(--step-margin) / 2) var(--step-margin);
}

section:first-child h1, section:first-child h2 {
  color: #fff;
}

section:first-child ul li::before {
  background-color: #fff;
}

section {
  position: relative;
  padding: 1.5em;
}

/* first step box */
section.step:nth-child(2) {
  margin-top: calc(var(--step-margin) * 0.7);
}

/* all step boxes */
section.step {
  margin-left: var(--step-margin);
  margin-right: var(--step-margin);
  padding: 5em;
  border-radius: 0.5em;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  font-size: 16px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  background-color: #fff;
}

section.step .completion {
  font-size: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #fff;
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
section.step.complete .completion { background-color: #1fd348; }

/* last step box */
section.step.final { margin-bottom: 5em; }
section.step.final h2 {
  padding-bottom: 0.5em;
  font-weight: 500;
  border-bottom: 1px solid rgb(224, 224, 224);
}

/* step titles */
section.step h1 {
  font-size: 48px;
  line-height: 64px;
  margin-top: 0; /* FIXME: this is necessary because ".completion" is occupying space (it shouldn't occupy space as it is position:absolute ¯\_(ツ)_/¯ */
}

section.step ul {
  margin-left: 3.5em;
}

section + .step-separator {
  height: 80px;
  width: 2px;
  display: block;
  margin: 0 auto;
  background: rgb(224, 224, 224);
}